body {
    margin: 0;
    padding: 0;
    overflow: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.start{
    border: none;
    background-color: blue;
    border-radius: 1rem;
    
}
